/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 1:44:34 PM
    Author     : frontend
*/

@media(min-width:768px){
    .social .social-email{
        float: left;
        margin: 0;
    }
    .social ul{
        float: right;
        margin: 0;
    }
    /*END OF SECTION SOCIAL*/
    .slidepanel {
        display: inline-block;
    }

    .cart{
        line-height: 45px;
    }
    .navbar-header{
        float: right;
    } 
    .nav > li > a {
        padding: 15px 10px;
    } 

    .modal-body form div:first-of-type{
        padding-left: 0;
    }

    .modal-body form div:nth-of-type(4n){
        padding-right: 0;
    }

    .modal-body form div:last-of-type{
        padding-right: 0;
        padding-left: 0;
    }
    /*END OF HEADER*/

    .main-slider .bxslider li .text{
        display: block;
    }


    .bxslider .content-1 .container,
    .bxslider .content-2 .container{
        text-align: right !important;
    }

    .bxslider .content-3 .container{
        text-align: left !important;
    }

    .main-slider .bxslider .slider-content h2{
        font-size: 40px;

    }

    .bxslider .container p span{
        display: block;
    }

    .bxslider .content-1 .pet{
        font-size: 36px !important;
    }

    .main-slider .bxslider .slider-content h3 {
        display: inline-block;
        padding: 5px 10px;
        font-size: 15px;
    }
    /*END OF SECTION MAIN SLIDER*/

    .callout article{
        text-align: left;
    }

    .callout .go-to{
        text-align: right;
        padding-top: 45px;
    }

    .callout .btn {
        padding: 12px 24px;
        font-size: 16px;

    }
    /*END OF SECTION CALLOUT*/

    .offer .special{
        float: left;
    }
    
    .offer .discount{
        float: right;
    }
    /*END OF SECTION OFFER*/
    
    
    .shop2 article .shop-comment,
    .shop2 article .like,
    .shop2 article .share{
        margin-left: 10px;
    }

    .shop2 .shop-footer .posted{
        float: left;
    }

    .shop2 .shop-footer .gallery{
        float: right;
        margin-left: 0px;
    }
    /*END OF SECTION SHOP2*/

    .footer1 .form-group{
        margin-right: 30px;
    }
    /*END OF SECTION FOOTER1*/


    .footer3 .col-sm-5 ul{
        float: left;
    }
    .footer3 .col-sm-7 p{
        text-align: right;
    }




}

@media(min-width:992px){
    .nav > li > a {
        padding: 15px 15px;
    } 
    .social ul a{
        width: 25px;
        height: 25px;
    }
    .social ul fa{
        font-size: 20px;
    }

    /* END OF HEADER SECTION*/
    .main-slider .bxslider .slider-content h2{
        font-size: 54px;
    }
    /* END OF MAIN SLIDER SECTION*/
    .services .col-md-3{
        display: block;
    }
    /* END OF SECTION SERVICES*/

    .callout .go-to{
        padding-top: 20px;
    }
    /* END OF SECTION CALLOUT*/

    .shop1 .shop-links .shop1-like{
        top:80%;
        
    }
    /*END OF SHOP1 SECTION*/

    .footer1 .col-md-8{
        text-align: right;
    }





}

@media(min-width:1200px){
    .shop1 .shop-links .shop1-like{
        top:80%;
     
    }

}