/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 1:44:34 PM
    Author     : frontend
*/

@media(min-width:768px){
    .social .social-email{
        float: left;
        margin: 0;
    }
    .social ul{
        float: right;
        margin: 0;
    }
    /*END OF SECTION SOCIAL*/
    .slidepanel {
        display: inline-block;
    }

    .cart{
        line-height: 45px;
    }
    .navbar-header{
        float: right;
    } 
    .nav > li > a {
        padding: 15px 10px;
    } 

    .modal-body form div:first-of-type{
        padding-left: 0;
    }

    .modal-body form div:last-of-type{
        padding-right: 0;
    }


}

@media(min-width:992px){
    .nav > li > a {
        padding: 15px 15px;
    } 
    .social ul a{
        width: 25px;
        height: 25px;
    }
    .social ul fa{
        font-size: 20px;
    }

}

@media(min-width:1200px){


}