/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oxygen', sans-serif;

*/



.social{
    background-color: #f5f5f5;
}

.social .social-email{
    color: #959595;
    line-height: 40px;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

.social .social-email a{
    color: #959595; 
}

.social .social-email a:focus{
    outline: none;
}

.social ul li{
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: 1s ease;
    display: inline-block;

}
.social ul .fa{
    color: #959595;
    font-size: 20px;
}

.social ul li:hover{
    background-color: #3b5998;
}

.social ul li:hover .fa{
    color: #fff;
}
/* END OF SECTION SOCIAL*/

.middle-header{
    padding-top: 28px;
    padding-bottom: 28px;
}
.slidepanel {
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.location,
.time,
.phone{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 10px;
}
.slidepanel .fa{
    position: absolute;
    left: 0;
    display: block;
    font-size: 30px;
    line-height: 50px;
}

.slidepanel .location .fa{
    font-size: 40px;
}

.slidepanel .phone .fa{
    font-size: 45px;  
}

.slidepanel p{
    margin-bottom: 0;
    padding-top: 5px;
}
.slidepanel p span{
    display: block;
    font-weight: 600;
}

.cart{
    display: inline-block;
    line-height: 62px;
    font-size: 30px;
    margin-right: 5px;
    color: #000;
}

.cart:hover, 
.cart:focus {
    color: #3b5998;
}
/*END OF SECTION MIDDLE HEADER*/

.navbar{
    background-color: #1377c5;
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;

}
.navbar-nav{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.dropdown-menu{
    text-align: center;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus{
    outline: none;
}
.navbar-brand{
    margin-left: 15px;
}

.btn-lg, .btn-group-lg > .btn {

    border-radius: 0;
    background-color: #0a68b1;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: #0a68b1;

}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn.active.focus {
    outline: none;

}

.btn-primary {
    border-color: transparent;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {


    border-color: transparent;
}

.navbar-header .modal-content {
    border: 1px solid #1377c5;
    border-radius: 0px;

}

.navbar-header .modal-header {
    border-bottom: none;
}

.modal-body form .form-control {
    font-size: 13px;
    color: #000;
    border-radius: 0;
    box-shadow: none;
}

.modal-body form .form-control:focus {
    border-color: #000;
}

.modal-body form .btn-primary{
    display: block;
    margin: 0 auto;
}

.modal-body form .btn {
    text-transform: uppercase;
    background-color: #55a62f;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.dropdown-menu {

    background-color: #0a68b1;

}

/* END OF HEADER */

.main-slider .bxslider li img{
    width: 100%;
}
.bx-pager{
    display: none;
}

.bxslider  .container{
    text-align: center;
    position: relative;
    z-index: 10;
}
.main-slider .bxslider .slider-content h2{
    color: #f44027;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.main-slider .bxslider .slider-content h2 .care{
    color: #fff;
}

.main-slider .bxslider .slider-content h2 .dog{
    color: #0a68b1;
}
.main-slider .bxslider .slider-content h3{
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;

}

.main-slider .bxslider .slider-content .pet{
    color: #fff;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.main-slider .bxslider .slider-content p{
    color: #fff;
    font-family: 'Oxygen', sans-serif;
}

.main-slider .bxslider .slider-content .btn {
    border-radius: 0px;
    text-transform: uppercase;
    border: none;
    width: 130px;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-right: 10px;

}

.main-slider .bxslider .slider-content .purchase{
    color: #fff;
    background: #f44027;
}

.main-slider .bxslider li .text{
    display: none;
}
.main-slider .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0,0.4)
}
.main-slider .bxslider li{
    position: relative;
}

.main-slider .bxslider li .slider-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}

/* END OF SECTION MAIN SLIDER*/

.headline h3{
    margin-bottom: 0;
    text-transform: uppercase;
    color: #000;
    font-family: 'Oxygen', sans-serif;
}
.headline p{
    color: #a7a7a7;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
.what-we-do .filter{
    background: rgba(248,248,248,0.4);
}
.what-we-do .headline{
    text-align: center;
}

.what-we-do .row article{
    position: relative;
}

.picture{
    max-width: 295px;
    margin: auto;
}

.what-we-do .section-img{
    margin: 0 auto 30px;
    position: relative;
    overflow: hidden;
    max-width: 295px;
    
}



.what-we-do .section-img div{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    text-align: left;
    border-bottom: none;
}

.what-we-do .section-img div h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    color: #fff;
}

.what-we-do .section-img div span{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}

.what-we-do .section-img div figure{
    width: 50px;
    height: 50px;
}

.what-we-do .row article img{
    width: 100%;
}
.triangle{
    position: absolute;
    top:0;
    left:0;
    width: 190%;
    height: 100%;
    transform: rotate(-39deg);
    transform-origin: -36px 260px;
    z-index: 100;
}
.triangle.orange{
    background: rgba(255,0,0,0.9);
}

.dog2 .triangle.orange{
    background: rgba(85,166,47,0.9);
}

.dog3 .triangle.orange{
    background: rgba(255,190,1,1);
}
.what-we-do .content-slide{

    background-color: #f44027;
    position: absolute;
    width: 100%;
    max-width: 295px;
    margin: auto;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: 2s;
    z-index: 10;
}

.what-we-do .row article:hover .content-slide{
    height: 100%;
    padding: 10px;
}

.what-we-do .slide2{
    background-color: #55a62f;
}

.what-we-do .slide3{
    background-color: #ffbe01;
}

.what-we-do .content-headline{
    border-bottom: 1px solid #fff;
}

.what-we-do .content-headline h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    margin-top: 0px;
    color: #fff;
}

.what-we-do .content-headline h3 span{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}

.what-we-do .content-headline figure{
    width: 50px;
    height: 50px;
}

.what-we-do .content-slide p{
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    margin-top: 10px;
}

.what-we-do .content-slide a{
    float: right;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.what-we-do .content-slide a:hover{
    text-decoration: underline;
}

.what-we-do .content-slide .fa{
    color: #fff;
}








/* END OF SECTION WHAT WE DO */
.appointment{
    background-size: cover;
    background-atacment:fixed;
    background-position:center center;
}
.background-shadow{ 
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    padding-bottom: 100px;
}

.appointment .headline h3{
    color: #fff;
}

.appointment .headline p{
    color: #fff;
}

.appointment form{
    margin-top: 70px;
}

.appointment .form-control {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.appointment .row{
    margin-bottom: 50px;
}

.appointment .btn-default{
    display: block;
    margin: 0 auto;
    background-color:#55a62f;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 15px 30px;
    border: none;
    transition: 1s ease;
}

.appointment .btn-default:hover{
    background-color: #65d033;
}
/* END OF SECTION APPOINMENT */


.services{
    padding: 30px 0;
}
.services .headline p{
    color: #3e3e3e;
}

.services .col-md-3{
    display: none;
}

.services .col-sm-4{
    padding-right: 0;
}

.services .col-sm-8{
    padding-left: 0;
    line-height:25px;
}

.services .nav{
    border-right: 1px solid #f44027;
}

.services .nav > li > a{
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display:block;

}

.services .nav > li.active{
    background-color: #f44027;
    color: #fff;
}
.services .nav > li.active > a,
.services .nav > li > a:hover, 
.services .nav > li > a:focus {
    background-color: #f44027;
    color: #fff;
    outline: none;
}

.services .nav li span{
    margin-right: 23px;
    display:inline-block;
    width: 27px;
    height: 27px;
    overflow: hidden;
    position: relative;
}

.services .nav li span img{
    max-width: 100%;
}

.services .nav .active a span img,
.services .nav a:hover span img
{
    margin-top:-28px;
}

.services .tab-pane{
    min-height:200px;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.animation{
    visibility: hidden;
    position: relative;
}



.services .tab-content{
    padding: 20px 20px;
    background-color: #f8f8f8;
}
/* END OF SECTION SERVICES */


.callout{
    background-size: cover;
    padding: 40px 0;
}

.callout article{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.callout article h3{
    font-weight: 600;
}


.callout .btn-default {
    color: #fff;
    background-color: #ffbe01;
    border-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.callout .btn {

    font-weight: 600;
    border-radius: 0px;
    text-transform: uppercase;
    transition: 1s ease;
}

.callout .btn-default:hover{
    background: #fff;
    border-color: #d0d0d0;
    color:#ffbe01; 
}

.callout .go-to{
    margin: 0 auto;
    text-align: center;
}

/* END OF SECTION CALLOUT*/



/*END OF SECTION WHY US*/

.clients{
    background-size: cover;
}

.clients .background-shadow{
    padding-top: 20px;
    padding-bottom: 20px;
}

.clients .headline h3{
    color: #fff;
}
/*END OF SECTION CLIENTS*/


.team{
    padding-top: 30px;
    padding-bottom: 50px;
}

.team .list-slider{
    margin-top: 30px;
}

.team ul li{
    position: relative;
}

.team ul li .background-slide{
    position: absolute;
    bottom: 10px;
    background: rgba(19,119,197,0.3);
    width: 270px;
}

.team ul li .team-member-name{
    background: #fff;
    border: 1px solid #1377c5;
    text-align: center;
    
        
}

.team ul li h4{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.team ul li p{
    color: #d8d8d8;
    font-family: 'Oxygen', sans-serif;
    text-transform: capitalize;
}

.team .social-slider{
    background: #1377c5;
    position: absolute;
    width: 100%;
    top: 0;
    height: 0;
    overflow: hidden;
    transition: 2s;
    z-index: 10;
}

.team .team-member:hover .social-slider{
    height: 100%;
}

.team .social-slider .team-member-name{
    border: none;
}

.team .social-slider ul li{
    width: 40px;
    height: 40px;
    padding: 5px;
    transition: 1s ease;
    border: 1px solid #7ab2de;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.team .social-slider .fa{
    color: #7ab2de;
    font-size: 20px;
}

.social ul li:hover{
    border-color: #fff;
}

.social ul li:hover .fa{
    color: #fff;
}















/*END OF SECTION TEAM*/

.data{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.data .color{
    background-color: rgba(83, 158, 34, 0.8);
    padding-top: 50px;
    padding-bottom: 20px;
}

.data article{
    height: 55px;
}

.data div{
    color: #fff;
    font-size: 30px;
}

.data div figure{
    display: inline-block;
    margin-right: 20px;
}


.data h3{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.data h3:nth-of-type(4){
    margin-bottom: 0;
}

.data h3::after {
    background: #fff;
    text-align: center;

}

/*END OF SECTION DATA*/

.shop1{
    background-color: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 70px;
}

.shop1 .shop-product{
    padding: 5px;
    transition: 1s ease;
    border: 1px solid transparent;
    max-width: 260px;
}

.shop1 .product-image{
    position: relative;
}

.shop1 .product-image .shop-links{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.shop1 .shop-product h4{
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
}

.shop1 .shop-product p{
    color: #539e22;
    font-family: 'Oxygen', sans-serif;
    margin-right: 10px;
    margin-bottom: 5px;
}

.shop1 .shop-product .fa{
    margin-right: 5px;
}

.shop1 .shop-links{
    visibility:  hidden;
    opacity: 0;
    position: absolute;
    top:0;
    transition: 2s ease;
}

.shop1 .shop-links a{
    display: inline-block;
    color: #000;
    transition: 1s ease;
    top: 40%;
    transform: translate(-50%);
    left: 50%;
    position: relative;
    color: #fff;
   ;
}

.shop1 .shop-links .shop1-like{
    top:80%;
    left: -10%;
}

.shop1 .shop-links .btn-default {
    background-color: transparent;
    border-color: #000;
}

.shop1 .shop-links .btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-color: #fff;
}

.shop1 .shop-links a:hover{
    
}

.shop1 .shop-links a .fa{
    color: #000;
}

.shop1 .shop-product:hover{
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
}

.shop1 .shop-product:hover .shop-links{
 visibility: visible;
    opacity: 1
}

/*END OF SECTION SHOP1*/

.ofer p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}
.ofer p span{
    display: block;
    font-size: 20px;
    font-weight: 700;
}


