/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oxygen', sans-serif;

*/



.social{
    background-color: #f5f5f5;
}

.social .social-email{
    color: #959595;
    line-height: 40px;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

.social .social-email a{
    color: #959595; 
}

.social .social-email a:focus{
    outline: none;
}

.social ul li{
    width: 40px;
    height: 40px;
    padding: 10px;

}
.social ul .fa{
    color: #959595;
    font-size: 20px;
}

.social ul li:hover{
    background-color: #3b5998;
}

.social ul li:hover .fa{
    color: #fff;
}




.social ul li{
    display: inline-block;
}

/* END OF SECTION SOCIAL*/
.middle-header{
    padding-top: 28px;
    padding-bottom: 28px;
}
.slidepanel {
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.location,
.time,
.phone{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 10px;
}
.slidepanel .fa{
    position: absolute;
    left: 0;
    display: block;
    font-size: 30px;
    line-height: 50px;
}

.slidepanel .location .fa{
    font-size: 40px;
}

.slidepanel .phone .fa{
  font-size: 45px;  
}

.slidepanel p{
    margin-bottom: 0;
    padding-top: 5px;
}
.slidepanel p span{
    display: block;
    font-weight: 600;
}

.cart{
    display: inline-block;
    line-height: 62px;
    font-size: 30px;
    margin-right: 5px;
    color: #000;
}

.cart:hover, 
.cart:focus {
    color: #3b5998;
}
/*END OF SECTION MIDDLE HEADER*/

.navbar{
    background-color: #1377c5;
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;

}
.navbar-nav{

    text-transform: uppercase;
    font-size: 12px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus{
    outline: none;
}
.navbar-brand{
    margin-left: 15px;
}

.btn-lg, .btn-group-lg > .btn {

    border-radius: 0;
    background-color: #0a68b1;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: #0a68b1;

}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn.active.focus {
    outline: none;

}

.btn-primary {
    border-color: transparent;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {


    border-color: transparent;
}

.navbar-header .modal-content {
    border: 1px solid #1377c5;
    border-radius: 0px;
    
}

.navbar-header .modal-header {
    border-bottom: none;
}

.modal-body form .form-control {
    font-size: 13px;
    color: #000;
    border-radius: 0;
    box-shadow: none;
}

.modal-body form .form-control:focus {
    border-color: #000;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.dropdown-menu {

    background-color: #0a68b1;

}

/* END OF HEADER */

.main-slider .bxslider li img{
    width: 100%;
}
.bx-pager{
    display: none;
}

.main-slider .bxslider .slider-content h2{
    color: #f44027;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

.main-slider .bxslider .slider-content h2 .care{
    color: #fff;
}

.main-slider .bxslider .slider-content h2 .dog{
    color: #0a68b1;
}

.main-slider .bxslider .slider-content .pet{
    color: #fff;
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;

}

.main-slider .bxslider .slider-content p{
    color: #fff;
    font-family: 'Oxygen', sans-serif;
}

.main-slider .bxslider .slider-content .btn {
    border-radius: 0px;
    text-transform: uppercase;
    border: none;
    width: 150px;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;

}

.main-slider .bxslider .slider-content .purchase{
    color: #fff;
    background: #f44027;
}



