/*

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oxygen', sans-serif;

*/
.header-color{
    display: inline-block;
    width: 33.3%;
    height: 5px;
}
.first{
    background-color: #f44027;
}
.second{
    background-color: #539e22;
}
.third{
    background-color: #ffbe01;
}

a:hover{
    text-decoration: none;
}


.social{
    background-color: #f5f5f5;
}

.social .social-email{
    color: #959595;
    line-height: 40px;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
}

.social .social-email a{
    color: #959595; 
}

.social .social-email a:focus{
    outline: none;
}

.social ul li{
    width: 40px;
    height: 40px;
    padding: 10px;
    transition: 1s ease;
    display: inline-block;

}

.social ul .fa{
    color: #959595;
    font-size: 20px;
}

.social ul li:hover{
    background-color: #3b5998;
}

.social ul li:hover .fa{
    color: #fff;
}
/* END OF SECTION SOCIAL*/

.middle-header{
    padding-top: 28px;
    padding-bottom: 28px;
}
.slidepanel {
    display: none;
    font-family: 'Montserrat', sans-serif;
}
.location,
.time,
.phone{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 10px;
}
.slidepanel .fa{
    position: absolute;
    left: 0;
    display: block;
    font-size: 30px;
    line-height: 50px;
}

.slidepanel .location .fa{
    font-size: 40px;
}

.slidepanel .phone .fa{
    font-size: 45px;  
}

.slidepanel p{
    margin-bottom: 0;
    padding-top: 5px;
}
.slidepanel p span{
    display: block;
    font-weight: 600;
}

.cart{
    display: inline-block;
    line-height: 62px;
    font-size: 30px;
    margin-right: 5px;
    color: #000;
}

.cart:hover, 
.cart:focus {
    color: #3b5998;
}
/*END OF SECTION MIDDLE HEADER*/

.navbar{
    background-color: #1377c5;
    margin-bottom: 0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;

}
.navbar-nav{
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}
.dropdown-menu{
    text-align: center;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:focus{
    outline: none;
}
.navbar-brand{
    margin-left: 15px;
}

.btn-lg, .btn-group-lg > .btn {

    border-radius: 0;
    background-color: #0a68b1;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: #0a68b1;

}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn.focus:active, 
.btn.active.focus {
    outline: none;

}

.btn-primary {
    border-color: transparent;
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary.active, 
.open > .dropdown-toggle.btn-primary {
    border-color: transparent;
}

.navbar-header .modal-content {
    border: 1px solid #1377c5;
    border-radius: 0px;

}

.navbar-header .modal-header {
    border-bottom: none;
}

.modal-body form .form-control {
    font-size: 13px;
    color: #000;
    border-radius: 0;
    box-shadow: none;
}

.modal-body form .form-control:focus {
    border-color: #000;
}

.modal-body form .btn-primary{
    display: block;
    margin: 0 auto;
}

.modal-body form .btn {
    text-transform: uppercase;
    background-color: #55a62f;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #0a68b1;
}

.dropdown-menu {

    background-color: #0a68b1;

}
/* END OF HEADER */



.main-slider .bxslider li img{
    width: 100%;
}
.bx-pager{
    display: none;
}

.bxslider  .container{
    text-align: center;
    position: relative;
    z-index: 10;
}
.main-slider .bxslider .slider-content h2{
    color: #f44027;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.main-slider .bxslider .slider-content h2 .care{
    color: #fff;
}

.main-slider .bxslider .slider-content h2 .dog{
    color: #0a68b1;
}
.main-slider .bxslider .slider-content h3{
    color: #000;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;

}

.main-slider .bxslider .slider-content .pet{
    color: #fff;
    font-size: 15px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

.main-slider .bxslider .slider-content p{
    color: #fff;
    font-family: 'Oxygen', sans-serif;
}

.main-slider .bxslider .slider-content .btn {
    border-radius: 0px;
    text-transform: uppercase;
    border: none;
    width: 130px;
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    margin-right: 10px;

}

.main-slider .bxslider .slider-content .purchase{
    color: #fff;
    background: #f44027;
}

.main-slider .bxslider li .text{
    display: none;
}
.main-slider .shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0,0,0,0.4)
}
.main-slider .bxslider li{
    position: relative;
}

.main-slider .bxslider li .slider-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
}
/* END OF SECTION MAIN SLIDER*/



.headline h3{
    margin-bottom: 0;
    text-transform: uppercase;
    color: #000;
    font-family: 'Oxygen', sans-serif;
}
.headline p{
    color: #a7a7a7;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}
.what-we-do .filter{
    background: rgba(248,248,248,0.4);
    padding-top:20px;
    padding-bottom: 30px;
}
.what-we-do .headline{
    text-align: center;
}

.what-we-do .row article{
    position: relative;
}

.picture{
    max-width: 295px;
    margin: auto;
}

.what-we-do .section-img{
    margin: 0 auto 30px;
    position: relative;
    overflow: hidden;
    max-width: 295px;

}
.what-we-do .section-img div{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 3;
    text-align: left;
    border-bottom: none;
    transition: 1.5s ease;
}
.what-we-do .section-img:hover div{
    opacity: 0;
}

.what-we-do .section-img div h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    color: #fff;
}

.what-we-do .section-img div span{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}

.what-we-do .section-img div figure{
    width: 50px;
    height: 50px;
}

.what-we-do .row article img{
    width: 100%;
}

.triangle{
    position: absolute;
    top:0;
    left:0;
    width: 190%;
    height: 100%;
    transform: rotate(-39deg);
    transform-origin: -36px 260px;
    z-index: 100;
    transition: 1.5s ease;
}
.what-we-do .section-img:hover .triangle{
    opacity: 0;   
}
.triangle.red{
    background: rgba(244,64,39,1);
}

.triangle.green{
    background: rgba(85,166,47,1);
}
.triangle.orange{
    background: rgba(255,190,1,1);
}
.what-we-do .content-slide{

    background-color: #f44027;
    position: absolute;
    width: 100%;
    max-width: 295px;
    margin: auto;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
    transition: 1s ease;
    height: 100%;
    z-index: 10;
}

.what-we-do .row article:hover .content-slide{
    opacity: 1;
    padding: 10px;
}

.what-we-do .slide2{
    background-color: #55a62f;
}

.what-we-do .slide3{
    background-color: #ffbe01;
}

.what-we-do .content-headline{
    border-bottom: 1px solid #fff;
}

.what-we-do .content-headline h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    float: right;
    margin-top: 0px;
    color: #fff;
}

.what-we-do .content-headline h3 span{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}

.what-we-do .content-headline figure{
    width: 50px;
    height: 50px;
}

.what-we-do .content-slide p{
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    margin-top: 10px;
}

.what-we-do .content-slide a{
    float: right;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
}

.what-we-do .content-slide a:hover{
    text-decoration: underline;
}

.what-we-do .content-slide .fa{
    color: #fff;
}
/* END OF SECTION WHAT WE DO */



.appointment{
    background-size: cover;
    background-atacment:fixed;
    background-position:center center;
}
.background-shadow{ 
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    padding-bottom: 100px;
}

.appointment .headline h3{
    color: #fff;
}

.appointment .headline p{
    color: #fff;
}

.appointment form{
    margin-top: 70px;
}

.appointment .form-control {
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.appointment .row{
    margin-bottom: 50px;
}

.appointment .btn-default{
    display: block;
    margin: 0 auto;
    background-color:#55a62f;
    border-radius: 6px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 15px 30px;
    border: none;
    transition: 1s ease;
}

.appointment .btn-default:hover{
    background-color: #65d033;
}
/* END OF SECTION APPOINMENT */


.services{
    padding: 30px 0;
}
.services .headline p{
    color: #3e3e3e;
}

.services .col-md-3{
    display: none;
}

.services .col-sm-4{
    padding-right: 0;
}

.services .col-sm-8{
    padding-left: 0;
    line-height:25px;
}

.services .nav{
    border-right: 1px solid #f44027;
}

.services .nav > li > a{
    color: #000;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    display:block;

}

.services .nav > li.active{
    background-color: #f44027;
    color: #fff;
}
.services .nav > li.active > a,
.services .nav > li > a:hover, 
.services .nav > li > a:focus {
    background-color: #f44027;
    color: #fff;
    outline: none;
}

.services .nav li span{
    margin-right: 23px;
    display:inline-block;
    width: 27px;
    height: 27px;
    overflow: hidden;
    position: relative;
}

.services .nav li span img{
    max-width: 100%;
}
.headline{
    margin-bottom: 50px;
}
.services .nav .active a span img,
.services .nav a:hover span img
{
    margin-top:-28px;
}

.services .tab-pane{
    max-height: 200px;
    overflow: hidden;
}
.animation{
    visibility: hidden;
    position: relative;

}
.slide-left{
    animation-name: slide-left;
    -webkit-animation-name: slide-left;
    /*The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;

}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}


.services .tab-content{
    padding: 20px 20px;
    background-color: #f8f8f8;
}
/* END OF SECTION SERVICES */


.callout{
    background-size: cover;
    padding: 40px 0;
}

.callout article{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.callout article h3{
    font-weight: 600;
}


.callout .btn-default {
    color: #fff;
    background-color: #ffbe01;
    border-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.callout .btn {

    font-weight: 600;
    border-radius: 0px;
    text-transform: uppercase;
    transition: 1s ease;
}

.callout .btn-default:hover{
    background: #fff;
    border-color: #d0d0d0;
    color:#ffbe01; 
}

.callout .go-to{
    margin: 0 auto;
    text-align: center;
}

/* END OF SECTION CALLOUT*/


.why-us{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.why-us .col-sm-6{
    margin-bottom: 40px;
}

.why-us .why-us-content{
    border: 1px solid #d0d0d0;
    margin: auto;
    max-width: 300px;
    text-align: center;
    width: 100%;
    transition: 1s ease;
    padding: 20px 5px;
}



.why-us .text-box span {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    top: 10%;
    overflow: hidden;
    margin-top: 30px;
}

.why-us .text-box span img{
    width: 100%;
}

.why-us .text-box h3{
    font-size: 18px;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;

}

.why-us .text-box p{
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 0;
}

.why-us .why-us-content a{
    display: inline-block;
    border-bottom: 2px solid #ccc;
    background: #fff;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    padding: 15px 35px;
    color: #1377c5;
    position: relative;
    top:20px;
    z-index:-1;
    transition: 1s ease;
    font-size: 15px;
}

.why-us .why-us-content:hover{
    background-color: #1377c5;
}

.why-us .why-us-content:hover span img{
    margin-top: -55px;
}

.why-us .why-us-content:hover h3,
.why-us .why-us-content:hover p{
    color: #fff;
}

.why-us .why-us-content:hover h3{
    text-transform: uppercase;
}

.why-us .why-us-content:hover a{
    top: 45px;
    z-index: 1;

}
/*END OF SECTION WHY US*/


.testimonial{
    background-size: cover;
}

.testimonial .background-shadow{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0,0,0,0.8);
}

.testimonial article{
    width: 100%;
    margin: auto;
}

.testimonial .headline h3{
    color: #fff;
}

.testimonial .col-sm-12{
    margin-bottom: 30px;
}

.testimonial .bxslider p{
    line-height: 40px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 30px;
}

.testimonial .bxslider figure{
    display: inline-block;
}

.testimonial .bxslider h4{
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin-top: -15px;

}

.testimonial .bxslider h4 span{
    display: block;
    font-family: 'Oxygen', sans-serif;
    color: #5d5d5d;
    text-transform: lowercase;
    font-size: 14px;
}

.testimonial .thumbnail {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
}

.testimonial .bx-wrapper .bx-controls-direction{
    text-align: right;
}
.testimonial .bx-wrapper .bx-controls-direction a{
    position: relative;
    margin: 0;
    top:0;
    display: inline-block;

    margin-left: 5px;
    right: auto;
    left: auto;

}
.testimonial .bx-wrapper .bx-controls-direction a.bx-next{
    background: #fff url('assets/next.png') no-repeat center center;


}
.testimonial .bx-wrapper .bx-controls-direction a.bx-prev{
    background: #fff url('assets/prev.png') no-repeat center center;


}
.members{
    margin-top: 20px;
}

/*END OF SECTION Testimonial*/


.team{
    padding-top: 30px;
    padding-bottom: 50px;
}

.team .list-slider{
    margin-top: 30px;
}

.team ul{
    list-style: none;
    text-align: center;
}

.team ul li{
    position: relative;

}
.team ul li{
    display: inline-block;
}

.team ul li .background-slide{
    position: absolute;
    bottom: 50px;
    background: rgba(19,119,197,0.3);
    width: 100%;
    text-align: center;
    transition: 1s ease;
    max-width: 270px;
}

.team ul .team-member img{
    width: 100%;
    max-width: 270px;
    margin: auto;
    margin-bottom: 50px;

}

.team .background-slide h4{
    display: block;
    background-color: #fff;
    border: 1px solid #1377c5;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #313131;
    font-size: 16px;
    padding: 15px 0px;
    margin: 5px;
    line-height: 25px;
    transition: 1s ease;
}

.team .background-slide h4 span{
    display: block;
    text-transform: capitalize;
    color: #b5b5b5;
    font-size: 14px;
}

.team .background-slide ul{
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: #1377c5;
    visibility: hidden;
    width: 100%;
    bottom: 0px;
    transition: 1s ease;
    position: absolute;
    opacity: 0;
}

.team .background-slide ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #6caadb;
    border-radius: 50%;
    margin-right: 10px;
    transition: 1s ease;
}

.team .background-slide ul li:last-of-type{
    margin-right: 0px;
}

.team .background-slide ul li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #6caadb;
    transition: 1s ease;
}

.team .background-slide ul li:hover{
    border-color: #fff;
}

.team .background-slide ul li:hover a{
    color: #fff;
}

.team ul .team-member:hover ul{
    visibility: visible;
    bottom: -50px;
    opacity: 1;
}

.team ul .team-member:hover .background-slide{
    background-color: #1377c5;
}

.team ul .team-member:hover h4{

    border: 1px solid #fff;
}
/*END OF SECTION TEAM*/


.data{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.data .color{
    background-color: rgba(83, 158, 34, 0.8);
    padding-top: 50px;
    padding-bottom: 20px;
}

.data article{
    height: 55px;
}

.data div{
    color: #fff;
    font-size: 30px;
}

.data div figure{
    display: inline-block;
    margin-right: 20px;
}


.data h3{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.data h3:nth-of-type(4){
    margin-bottom: 0;
}

.data h3::after {
    background: #fff;
    text-align: center;

}
/*END OF SECTION DATA*/


.shop1{
    background-color: #f8f8f8;
    padding-top: 50px;
    padding-bottom: 70px;
}

.shop1 .col-sm-6{
    margin-bottom: 10px;
}

.shop1 .shop-product{
    padding: 5px;
    transition: 1s ease;
    border: 1px solid transparent;
    max-width: 260px;
    margin: auto;
}

.shop1 .product-image{
    position: relative;
}

.shop1 .product-image .shop-links{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.shop1 .shop-links{
    visibility:  hidden;
    opacity: 0;
    position: absolute;
    top:0;
    transition: 2s ease;
}

.shop1 .shop-links a{
    display: inline-block;
    color: #000;
    transition: 1s ease;
    top: 40%;
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    color: #fff;

}

.shop1 .shop-links .shop1-like{
    top:80%;
    font-size: 26px;
}

.shop1 .shop-links .btn-default {
    background-color: transparent;
    border-color: #000;
}

.shop1 .shop-links .btn {
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-color: #fff;
}

.shop1 .shop-links a .fa{
    color: #fff;   
    font-size: 30px;
}

.shop1 .shop-product h4{
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    font-size: 15px;
}

.shop1 .shop-product p{
    color: #539e22;
    font-family: 'Oxygen', sans-serif;
    margin-right: 10px;
    margin-bottom: 5px;
}

.shop1 .shop-product .fa{
    margin-right: 5px;
}



.shop1 .shop-product:hover{
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
}

.shop1 .shop-product:hover .shop-links{
    visibility: visible;
    opacity: 1;
}
/*END OF SECTION SHOP1*/

.offer{
    padding: 70px 0px;
    background-size: cover;
}
.offer p{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;

}
.offer p span{
    display: block;
    font-size: 25px;
    font-weight: 700;
}

.offer .container div{
    display: inline-block;
}

.offer .discount .procent{
    color: #000;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 0px;
}
.offer .discount .sale span{
    font-size: 15px;
    font-weight: 500;
}
/*END OF SECTION OFER*/

.shop2{
    padding: 50px 0;
    background-color: #f9f9f9;
}

.shop2 .col-sm-6{
    margin: 30px 0px;
}

.shop2 article{
    max-width: 360px;
    margin: auto;
    border: 1px solid #d0d0d0;
}

.shop2 article iframe{
    width: 100%;
    max-width: 360px;
    height: 100%;
    max-height: 165px;
}

.shop2 article img{
    width: 100%;
    height: 100%;
}

.shop2 article .shop-date{
    padding: 10px;
}

.shop2 article .date,
.shop2 article .shop-comment,
.shop2 article .like,
.shop2 article .share,
.shop2 article .posted,
.shop2 article .gallery{
    display: inline-block;
}

.shop2 article .date{
    background-color: #f44027;
}

.shop2 article .date span{
    display: block;
}

.shop2 .shop-image{
    position: relative;
    height: 165px;
}

.shop2 .image-shadow{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    transition: 1s ease;
    opacity: 0;
}

.shop2 .shop-image:hover .image-shadow{
    visibility: visible;
    opacity: 1;

}

.shop2 .image-shadow a{
    border-radius: 0px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.shop2 .shop-content .date{
    position: relative;
    top: -10px;
    margin-top: -35px;
}

.shop2 .shop-content .date span{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.shop2 .shop-content .date span:first-of-type{
    padding-bottom: 5px;
}

.shop2 .shop-content .date span:last-of-type{
    padding-top: 5px;
}

.shop2 article .fa{
    color: #f44027;
}

.shop2 article a{
    color: #838383;
}

.shop2 .shop-text{
    padding: 10px;
}

.shop2 .shop-text h4{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    height: 44px;
    overflow: hidden;
}

.shop2 .shop-text h4 a{
    color: #000;
}

.shop2 .shop-text p{
    font-size: 13px;
    font-family: 'Oxygen', sans-serif;
    color: #8d8d8d;
    line-height: 22px;
    border-bottom: 1px solid #8d8d8d;
    padding-bottom: 15px;
    height: 125px;
    overflow: hidden;
}

.shop2 .shop-footer{
    padding: 10px;
}

.shop2 .shop-footer .gallery{
    margin-left: 10px;
}
/*END OF SHOP2 SECTION*/

.footer1{
    padding: 30px 0px;
    background-color: #ffbe01;
}

.footer1 h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #000;
    font-size: 18px;
}

.footer1 .form-control {
    color: #000;
    background-color: #ffbe01;
    border: 1px solid #000;
    border-radius: 0px;
}

.footer1 .form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.footer1 .form-inline input::-webkit-input-placeholder,
.footer1 .form-inline input:-moz-placeholder,
.footer1 .form-inline input::-moz-placeholder,
.footer1 .form-inline input:-ms-input-placeholder{
    color: #000 !important;
}

.footer1 .btn-default{
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.footer1 .btn{
    padding: 6px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0px;
    text-transform: uppercase;
}
/*END OF SECTION FOOTER1*/

.footer2{
    background-color: #111111;
    padding: 50px 0px;
}

.footer2 .about-us,
.footer2 .working-time,
.footer2 .subscribe{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.footer2 .about-us h4,
.footer2 .working-time h4,
.footer2 .subscribe h4{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}

.footer2 .about-us p{
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}

.footer2 .about-us .hello{
    margin-top: 30px;
}

.footer2 .about-us ul,
.footer2 .working-time ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 30px;
}

.footer2 .about-us ul li{
    margin-bottom: 20px;
}

.footer2 .about-us ul li p{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.about-us ul li p span{
    display: block;
}

.about-us ul li .fa{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    margin-right: 10px;
}

.about-us ul li a{
    color: #fff;
    text-transform: lowercase;
}

.about-us ul li a:focus{
    outline: none;
}

.footer2 .working-time ul{
    text-transform: uppercase;
}

.footer2 .working-time ul li{
    font-family: 'Oxygen', sans-serif;
    margin-bottom: 20px;
}

.footer2 .working-time ul .days{
    float: left;
}

.footer2 .working-time ul .working-hours{
    float: right;
}

.footer2 .working-time ul .closed{
    margin-right: 35px;
}

.footer2 .working-time ul li:last-of-type .working-hours:last-of-type{
    color: #ffbe01;
    margin-right: 10px;
}

.footer2 .subscribe .subscribe-content{
    border: 1px solid #373737;
    padding: 45px 35px;
    margin-top: 15px;
}

.footer2 .subscribe p{
    font-family: 'Oxygen', sans-serif;
}

.footer2 .subscribe .form-control{
    padding: 3px 3px;
    color: #000;
    border: 1px solid #fff;
    border-radius: 0px;
}

.footer2 .subscribe .btn-default {
    color: #000;
    background-color: #ffbe01;
    border: 1px solid #ffbe01;
    text-transform: uppercase;
}

.footer2 .subscribe .btn {
    border-radius: 0px;
    border: 1px solid #ffbe01;
}

.footer2 .subscribe ul{
    padding-left: 0px;
    margin-top: 20px;
    text-align: center;
}

.footer2 .subscribe ul li {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #959595;
    border-radius: 50%;
    margin-right: 10px;
    transition: 1s ease;
}

.footer2 .subscribe ul li:last-of-type{
    margin-right: 0px;
}

.footer2 .subscribe ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #959595;
    transition: 1s ease;
    text-align: center;
}

.footer2 .subscribe ul li:hover{
    border-color:  #f44027;
}

.footer2 .subscribe ul li:hover a{
    color: #f44027;
}

.footer2 .subscribe ul li a:focus{
    outline: none;
}
/*END OF SECTION FOOTER2*/

.footer3{
    background-color: #222222;
    padding: 30px 0px;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

.footer3 article{
    text-align: center;
}

.footer3 ul{
    padding-left: 0px;

}

.footer3 ul li{
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid #fff;
}

.footer3 ul li:last-of-type{
    border-right: none;
}

.footer3 ul li a{
    color: #fff;
}

.footer3 ul li a:hover{
    color: #fff;
}

.footer3 ul li a:focus{
    outline: none;
}
/*

END OF HOME PAGE

*/

/* 

BLOG PAGE

*/

.blog-headline{
    background-size: cover;
    background-position: center center;
}

.blog-headline .blog-headline-shadow{
    background-color: rgba(0,0,0,0.7);
    padding: 50px 0px;
}

.blog-headline h1{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.blog-headline .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 0px;
    background-color: transparent;
    border-radius: 0px;
    padding-left: 0px;
    font-style: italic;
    text-transform: capitalize;
}

.blog-headline .breadcrumb a{
    color: #777;
}
.blog-headline .breadcrumb > li + li::before {
    color: #777;
}

.blog-headline .breadcrumb > .active {
    color: #fff;
}
/*END OF SECTION BLOG HEADLINE*/

.blog{
    padding: 60px 0px;
}

.blog .blog-style{
    padding-top:  0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

.blog .blog-style h3{
    margin-top: 0;
}

.blog aside{
    margin-bottom: 50px;
}

.blog aside h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0px;
}

.blog aside ul{
    margin-top: 30px;
    padding-left: 15px;
    list-style: square inside url('img/bullet.png');
}

.blog aside ul li{
    padding: 15px 0px;
    border-bottom: 1px solid #d0d0d0;
}

.blog aside ul li a{
    color: #d0d0d0;
    transition: 1s ease;
    text-transform: capitalize;
}

.blog aside ul li a:hover{
    color: #515151;
    text-decoration: none;
}

.blog aside ul li a:focus{
    outline: none;
}

.blog aside div{
    margin-top: 30px;
}

.blog .price-filter div{
    margin-top: 0;
}

.blog aside div a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px;
    color: #d0d0d0;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s ease;
}

.blog aside div a:hover{
    border: 1px solid #515151;
    background-color: #515151;
    color: #fff;
}

.blog article {
    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
}

.blog .blog-img {
    height: auto;
}

.blog article iframe {
    max-width: 100%;
    max-height: 100%;
    height: 315px;
}
.pagination {
    border-radius: 0;
}

.pagination > li:first-child > a{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination > li:last-child > a{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination > li > a, 
.pagination > li > span {
    color: #777777;
    text-decoration: none;
    background-color: #f8f8f8;
    border: 1px solid #d1d1d1;
    transition: 1s ease;
}

.pagination > li > a:hover {
    color: #fff;
    background-color: #313131;
    border-color: #313131;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    color: #fff;
    background-color: #313131;
    border-color: #313131;
}
.blog a:focus{
    outline: none;
}
/* 

END OF BLOG PAGE

*/

/* 

SINGLE BLOG PAGE

*/


.single-blog .bottom-paragraf{
    height: 143px !important;
}

.single-blog .headline h3{
    margin-top: 0px;
}

.single-blog article{
    width: 100%;
    max-width: 100%;
}
.single-blog{
    padding: 0 15px;
    background-color: #fff;
}

.single-blog .single-blog-img{
    height: auto;
}

.single-blog p:first-of-type{
    border-bottom: none;
}
.red-quotes{
    float: left;
    width: 5%;
}

.single-blog .red-quotes-p{
    border-bottom: none !important;
    font-size: 16px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 95%;
    float: right;
    padding-left: 10px;
    font-style: italic;
    height: 137px !important;
}

.single-blog-gallery{
    margin-bottom: 20px;
    margin-top: 20px;
}

.single-blog .list-unstyled li{
    position: relative;
}

.single-blog .shop-links{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 2s ease;
}

.single-blog .shop-links a{
    display: inline-block;
    color: #fff;
    transition: 1s ease;
    top: 30%;
    transform: translate(-50%, 50%);
    left: 50%;
    position: absolute;
    font-size: 30px;
}

.single-blog .shop-links .fa{
    color: #fff;
}


.single-blog .list-unstyled li:hover .shop-links{
    visibility: visible;
    opacity: 1;
}

.single-comment{
    padding: 10px;
}

.single-comment-img{
    width: 30%;
    float: left;
}

.single-comment-content{
    width: 70%;
    float: right;
    padding-left: 15px;
}

.single-comment-content h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #313131
}

.single-comment-content p{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #777777;
    padding-bottom: 5px;
}

.single-comment-content ul{
    display: inline-block;
    padding-left: 15px;
    margin-bottom: 0;
}

.single-comment-content li{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #3b59a1;
    margin-right: 5px;
    transition: 1s ease;
}

.single-comment-content li:nth-of-type(2n){
    border: 1px solid #ea367e;
}

.single-comment-content li:nth-of-type(3n){
    border: 1px solid #31aae2;
}

.single-comment-content li:nth-of-type(4n){
    border: 1px solid #dd4c39;
}

.single-comment-content li a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.single-comment-content li a span{
    font-size: 15px;
}

.single-comment-content li a .fa-facebook{
    color: #3b59a1;
    transition: 1s ease;
}

.single-comment-content li a .fa-dribbble{
    color: #ea367e;
}

.single-comment-content li a .fa-twitter{
    color: #31aae2;
}

.single-comment-content li a .fa-google-plus{
    color: #dd4c39;
}

.single-comment-content li:hover{
    background: #3b59a1;
}

.single-comment-content li:nth-of-type(2n):hover{
    background: #ea367e;
}

.single-comment-content li:nth-of-type(3n):hover{
    background: #31aae2;
}

.single-comment-content li:nth-of-type(4n):hover{
    background: #dd4c39;
}

.single-comment-content li:hover span{
    color: #fff !important;
}

.single-blog .comments{
    padding: 10px;
}

.single-blog .comments h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.comments .media-heading{
    font-family: 'Cabin', sans-serif; 
    font-size: 16px;
    text-transform: capitalize;
    color: #222222;
}

.comments .media-heading .comment-date{
    display: inline-block;
    border-left: 1px solid #a2a2a2;
    padding-left: 5px;
    margin-left: 5px;
    color: #a2a2a2;
}

.comments .media-heading .reply{
    display: block;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.comments .media-heading .reply a{
    color: #f44027;
}

.comments .media-body p{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #a2a2a2;
    margin-top: 15px;
}

.single-blog .comments img{
    width: 64px;
    height: 64px;
}

.single-blog .comments .col-sm-6{
    margin-top: 0;
    margin-bottom: 20px;
}

.single-blog .comments .form-control {
    height: 40px;
    font-size: 16px;
    color: #555;
    background-image: none;
    border: 1px solid #a2a2a2;
    border-radius: 0px;
    box-shadow: none;

}

.single-blog .comments .form-group:last-of-type{
    margin-bottom: 30px;
}

.single-blog .comments .btn {
    border: 1px solid #222222;
    border-radius: 0px;
    margin-left: 15px;
    color: #222222;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    transition: 1s ease;
}

.single-blog .comments .btn-default:hover, 
.single-blog .comments .btn-default:focus{
    background-color: #222222;
    color: #fff;
}
/* 

END OF SINGLE BLOG PAGE

*/

/* 

PET LIST PAGE

*/

.blog .lists h3{
    padding: 10px 10px;
    color: #fff;
    background-color: #f44027;
    border: 1px solid #f44027;
}

.blog .lists .filter-by-price{
    background-color: #539e22;
    border: 1px solid #539e22;
    margin-bottom: 40px;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
    border: 1px solid #539e22;
    background: #539e22;
    font-weight: bold;
    color: #539e22;
    border-radius: 50%;
    outline: none;
}

.blog .lists .product-cat{
    background-color: #ffbe01;
    border: 1px solid #ffbe01;
}

.blog .lists .best{
    background-color: #1377c5;
    border: 1px solid #1377c5;
}

.blog .best-seller{
    margin-top: 0;
}

.blog .best-seller figure{
    width: 30%;
    float: left;
}

.blog .best-seller article{
    width: 70%;
    float: right;
    margin-bottom: 0;
    padding-left: 10px;
}

.blog .best-seller article h4{
    font-size: 13px;
    margin-bottom: 0;
}

.blog .best-seller article a{
    color: #313131;
    border: none;
    text-transform: uppercase;
    font-weight: 600;

}

.blog .best-seller article p{
    color: #539e22; 
}

.blog .best-seller article span{
    margin-left: 10px;
    margin-right: 5px;
    color: #539e22;
}

.blog .best-seller article a:hover {
    border: none;
    background-color: transparent;
    color: #313131;
    text-decoration: underline;
}
/* END OF ARTICLE STYLES*/

.pet-list{
    background-color: #fff;
    padding-top: 0;
}

.pet-list .headline{
    margin-bottom: 30px;
}

.pet-list .headline h3{
    margin-top: 0;
}

.pet-list .all-pets{
    margin-bottom: 20px;
}

.pet-list .all-pets a{
    display: inline-block;
    border: 1px solid #d1d1d1;
    color: #999999;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: 1s ease;
}

.pet-list .all-pets a:last-of-type{
    margin-right: 0;
}

.pet-list .all-pets a:hover,
.pet-list .all-pets a:focus{
    border: 1px solid #777777;
    color: #777777;
    text-decoration: none;
}

.pet-list .shop-product{
    background-color: #f0f0f0;
}


/* 

END OF PET LIST PAGE 

*/

/* 

PRODUCT DETAIL PAGE

*/

.single-product figure{
    width: 100%;
    margin: 0 auto;
}

.single-product figure img{
    width: 100%;
}

.single-product .single-product-description{

}

.single-product .single-product-description h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: #222222;
}

.single-product .single-product-description .price{
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.single-product .single-product-description .price span{
    margin-right: 5px;
}

.single-product-description a{
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #868686;
    text-transform: capitalize;
}

.single-product-description a:hover,
.single-product-description a:focus{
    text-decoration: underline;
}

.single-product-description .fa-star{
    color: #ffba00;
}
.single-product-description .fa-star-half-full{
    color: #ffba00;
}

.single-product-text{
    color: #818181;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    border-bottom: 1px solid #818181;
    border-top: 1px solid #818181;
    line-height: 22px;
    margin-bottom: 20px;
}

.single-product-description form{
    text-align: center;
}

.single-product-description .form-group{
    display: inline-block;
}

.single-product-description .form-control,
.product-quantity .form-control{
    color: #ffba00;
    border: 1px solid #ffba00;
    border-radius: 0px;
    box-shadow: none;
    display: inline-block;
    width: 40px;
    padding: 6px 10px;
}

.single-product-description .btn-default,
.product-quantity .btn-default{
    color: #fff;
    background-color: #ffba00;
    border-color: #ffba00;
    border-radius: 0;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    transition: 1s ease;
    display: inline-block;
    vertical-align: top;
}

.single-product-description .btn-default .fa{
    margin-right: 5px;
}

.single-product-description .btn-default:hover,
.single-product-description .btn-default:focus{
    background-color: #fff;
    color: #ffba00;
}

.availability{
    margin-top: 10px;
    text-transform: uppercase;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
}

.tabs{
    margin-top: 50px;
    margin-bottom: 50px;
}


.tabs .nav-tabs > li > a {
    border-radius: 0;
    padding: 10px 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #8c8c8c;
    background-color: #f5f5f5;
}

.tabs .nav-tabs > li.active > a{
    color: #fff;
    background-color: #b6b6b6;
}

.tabs .tab-content p{
    font-family: 'Lato', sans-serif;
    color: #777777;
    font-size: 16px;
    padding-top: 40px;
    line-height: 20px;
    height: 120px;
    overflow: hidden;
}

.headline-product-detail h3{
    font-size: 20px;
}

.headline-product-detail p{
    font-size: 13px;
}


/* 

END OF PRODUCT DETAIL PAGE 

*/

/* 

CONTACT PAGE

*/

.map{
    height: 400px;
    position: relative;
}

.map iframe{
    width: 100%;
    height: 100%;
}

.map .map-shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.map span{
    position: absolute;
    top: 25%;
    left: 60%;
    z-index: 2;
    font-size: 40px;
    color: #c42616;

}

.contact-form{
    padding: 50px 0;
}

.contact-form .form-control {
    border-radius: 0px;
    box-shadow: none;
}

.contact-form .form-control:focus {
    border-color: #1377c5;
    box-shadow: none
}

.contact-form form{
    text-align: center;
}

.contact-form .btn-default {
    color: #fff;
    background-color: #1377c5;
    border-color: #1377c5;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding: 6px 30px;
    transition: 1s ease;
}

.contact-form .btn-default:hover{
    background-color: #0e4773;
    border-color: #0e4773;
}

.error{
    height: 7px;
    color: red;
}

.appointment .error{
    color: #fff;
}

.modal-body .with-errors{
    font-size: 8px;
}
/* 

END OF CONTACT PAGE

*/

/* 

CART PAGE

*/

.shopping-cart{
    padding: 90px 0;
}



.shopping-cart .continue{
    display: block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
    background-color: #ffba00;
    border: 1px solid #ffba00;
    text-transform: uppercase;
    padding: 12px 20px;
    margin: 0 auto;
    width: 195px;
    line-height: 18px;
    text-align: center;
    transition: 1s ease;
    
}

.shopping-cart .continue:hover{
    color: #ffba00;
    background-color: #fff;
}
